a {
  max-width: 400px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  min-width: 900px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.site-wrapper {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #92ad9e;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.mini-container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.page-header {
  margin-bottom : 274px;
}

.main-logo {
  float: left;
  width: 154px;
  margin-top: 10px;
  margin-left: -6px;
  margin-right: 15px;
}

.main-navigation {
  float: left;
  max-width: 500px;
}

.main-navigation__list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  line-height: 1.2;
  list-style: none;
}

.main-navigation__item {
  display: inline-block;
  padding-bottom: 7px;
}

.main-navigation__item > a {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin: 9px 13px 6px 14px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.main-navigation__item:hover > a {
  margin: 0;
  border-radius: 20px;
  border-bottom: 0;
  padding: 5px 13px 7px 14px;
  color: #333333;

  background-color: #f7f6f3;
}

.main-navigation__item > a:active {
  padding: 8px 15px 6px 15px;
  color: #333333;
  border-bottom: 0;
  border-radius: 20px;
  font-weight: 700;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #000;
}

.main-navigation__catalog {
  position: relative;
}

.popup__catalog {
  display: none;
  box-sizing: border-box;
  position: absolute;
  width: 143px;
  height: 171px;
  margin-top: 6px;
  left: -6px;
  color: #343434;
  font-size: 14px;
  font-weight: 400;
  background-color: #f8f7f4;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog__new-items {
  display: block;
  margin-left: 7px;
  margin-right: 9px;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 12px;
  border-bottom: 1px solid rgba(52, 52, 52, 0.2);
  font-weight: 700;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: block;
}

.catalog__item a {
  display: block;
  margin: 2px 0;
  padding: 7px 0;
  padding-left: 20px;
  text-decoration: none;
  color: #343434;
}

.catalog__item a:hover {
  background-color: #fbded7;
}

.catalog__item a:active {
  background-color: #f6b5a5;
}

.main-navigation__catalog:hover .popup__catalog {
  display: block;
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.user-block {
  float: right;
  min-width: 270px;
  line-height: 1.2;
}

.user-block__list {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-block__item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 5px;
  font-size: 14px;
}

.user-block__item a {
  box-sizing: border-box;
  display: block;
  border: 6px solid transparent;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__item a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-block__item a:hover svg {
  fill: #333333;
}

.user-block__icon {
  display: inline-block;
  margin-right: 8px;
  padding-left: 10px;
  vertical-align: top;
  fill: #fff;
}

.user-block__search a{
  border-width: 7px;
}

.icon-magnifier {
  padding-left: 0;
  margin-right: 0;
  width: 17px;
  height: 17px;
}

.user-block__popup {
  display: none;
  box-sizing: border-box;
  position: absolute;
  margin-top: 4px;
  right: 0;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-block__search-window {
  width: 341px;
  min-height: 69px;
}

.user-block__popup input{
  box-sizing: border-box;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  color: #353535;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.user-block__popup label {
  position: absolute;
  top: -5px;
  left: 0;
  display: none;
  padding-left: 25px;
  font-size: 11px;
  line-height: 24.3px;
  color: #9a9a9a;
}

.user-block__popup input:hover {
  padding-left: 9px;
  border: 2px solid #d3d3d2;
}

.user-block__popup input:focus {
  padding-left: 9px;
  outline: none;
  border: 2px solid #8fbdec;
}

.user-block__popup input:focus + label{
  display: inline;
  color: #8fbdec;
}

.user-block__search-window input{
  width: 311px;
  height: 39px;
}

input::-webkit-input-placeholder {
   color: #9b9b9b;
   font-size: 16px;
   font-weight: 400;
}

input::-moz-placeholder {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

.user-block__search:hover .user-block__search-window {
  display: block;
}

.icon-enter {
  width: 21px;
  height: 19px;
}

.user-block__enter {
  min-width: 91px;
}

.user-block__enter:hover .user-block__enter-window {
  display: block;
}

.user-block__enter-window {
  width: 272px;
  min-height: 175px;
  padding-top: 20px;
}

.user-block__input-wrapper {
  position: relative;
}

.user-block__enter-window input {
  width: 241px;
  height: 39px;
  margin-bottom: 10px;
}

.user-block__input-wrapper:nth-child(2) input {
  margin-bottom: 11px;
}

.user-block__enter-window label {
  position: absolute;
  top: -18px;
  padding-left: 12px;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  padding-left: 30px;
  padding-right: 26px;
  border-radius: 20px;
  color: #ffffff;
  background: linear-gradient(#e74a35, #f26843);
  border: none;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(172, 16, 0);
  text-decoration: none;
  cursor: pointer;
}

.enter-form__btn {
  float: left;
  color: #fefefe;
  font-size: 15px;
  line-height: 24.3px;
  font-weight: 700;
}

.btn:hover {
  background: linear-gradient(#ec6f5e, #f58669);
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:active {
  background: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 rgb(148, 39, 24);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.enter-form__bottom-links {
  float: right;
  max-width: 120px;
}

.enter-form__bottom-links a {
  display: inline;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #9d9d9b;
  color: #333333;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.enter-form__bottom-links a:hover,
.enter-form__bottom-links a:active {
  color: #ec593c;
  border-bottom-color: #ec593c;
}

.user-block__cart {
  margin-right: 0;
  min-width: 117px;
}

.icon-cart {
  width: 21px;
  height: 20px;
}

.contacts {
  float: right;
  text-align: right;
  line-height: 1.3;
}

.contacts__info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

.contacts__telephone {
  font-size: 22px;
  font-weight: 900;
}

.slider {
  position: relative;
  margin-bottom: 40px;
}

.slider__slides-wrapper {
  width: 700px;
  margin: 0 auto;
}

.slider__controls {
  position: absolute;
  top: 170px;
  left: 2.3%;
  font-size: 0;
}

.slider__control-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider__control-btn:hover {
  background-color: rgba(255,255,255,0.4);
}

.slider__slide {
  display: none;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

#slide-1:checked ~ .site-wrapper .slider__slide--1,
#slide-2:checked ~ .site-wrapper .slider__slide--2,
#slide-3:checked ~ .site-wrapper .slider__slide--3 {
  display: block;
}

#slide-2:checked ~ .site-wrapper {
  background-image: url("../img/slide-2.png");
  background-color: #8a97a7;
}

#slide-3:checked ~ .site-wrapper {
  background-image: url("../img/slide-3.png");
  background-color: #9d8b84;
}

#slide-1:checked ~ .site-wrapper label[for="slide-1"],
#slide-2:checked ~ .site-wrapper label[for="slide-2"],
#slide-3:checked ~ .site-wrapper label[for="slide-3"] {
  background-color: white;
}

.slider__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
}

.slider__btn {
  margin-left: 5px;
  padding: 0 45px 0 40px;
  font-size: 31.48px;
  line-height: 62.93px;
  font-weight: 700;
  border-radius: 40px;
}

.banners {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.banner-item {
  position: relative;
  box-sizing: border-box;
  width: 46.666%;
  margin: 0 2.3%;
  padding: 18px 20px;
  min-height: 230px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-item--left {
  float: left;
  margin-right: 0;
  background-image: url("../img/banner-1.png");
}

.banner-item--right {
  float: right;
  margin-left: 0;
  background-image: url("../img/banner-2.png");
}

.banner-item__header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  color: #fff;
  font-weight: 700;
}

.banner-item__text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
}

.banner-item_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 23px;
  margin-right: 23px;
  padding: 12px 22px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  border-radius: 20px;
}

.top-products {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 0;
}

.top-products__item {
  position: relative;
  display: inline-block;
  margin-bottom: 18px;
  margin-right: 2.2%;
  width: 22.2%;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
}

.top-products__item:nth-of-type(4n + 1) {
  margin-left: 2.3%;
}

.top-products__item:nth-of-type(4n) {
  margin-right: 2.3%;
}

.top-products__item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  z-index: 6;
  top: 0;
  left: 0;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
}

.top-products__background {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px;
  background-color: rgba(248, 247, 244, 0.4);
  z-index: 2;
}

.top-products__item:hover .top-products__background {
  display: block;
}

.top-products__image {
  position: relative;
  width: 100%;
  margin-bottom: 9px;
  z-index: 5;
}

.top-products__image img {
  width: 100%;
  height: auto;
}

.top-products__price-block {
  position: absolute;
  bottom: 17px;
  font-size: 0;
  left: 0;
  text-shadow: 1px 1px 3px rgba(49, 50, 3, 0.5);
}

.top-products__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.icon-rouble {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
  width: 32px;
  height: 37px;
  fill: #fff;
}

.top-products__unit {
  font-size: 30px;
  line-height: 30px;
}

.top-products__description {
  margin: 0;
  padding: 0 5px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.top-products__item:hover .underline {
  border-bottom: none;
}

.top-products__btn {
  display: none;
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: top;
  font-size: 15px;
  line-height: 24.3px;
  z-index: 5;
}

.top-products__item:hover .top-products__btn {
  display: inline-block;
}

.about-us {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.about-us__inner-wrapper {
  margin: 0 2.3%;
  padding: 20px 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  color: #323232;
  background-image: url(../img/texture.jpg);
}

.about-us__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us__feature {
  position: relative;
  width: 48.8%;
  margin-bottom: 11px;
}

.about-us__feature--left {
  float: left;
}

.about-us__feature--right {
  float: right;
}

.about-us__icon {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.about-us__text {
  margin: 0;
  margin-top: 11px;
  padding: 0;
  margin-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}


.news {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.news-wrapper {
  margin: 0 2.3%;
}

.news__item {
  box-sizing: border-box;
  width: 48.8%;
  min-height: 220px;
  border-radius: 15px;
}

.news__item--left {
  float: left;
}

.news__item--right {
  float: right;
}

.what-new {
  padding: 0 20px;
  padding-top: 23px;
  background-color: white;
  background-image: url("../img/new-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.what-new__header {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.what-new__article-wrapper {
    max-width: 300px;
}

.what-new__article {
  color: #353535;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.what-new__article:hover,
.what-new__article:active {
  color: #ec593c;
}

.what-new__underline {
  border-bottom: 2px solid #353535;
}

.what-new__article:hover .what-new__underline,
.what-new__article:active .what-new__underline {
  border-color: #ec593c;
}

.mailing {
  padding: 5px;
  background: url("../img/texture-funny.png") #f8f7f4;
}

.mailing-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.mailing__article {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.mailing__form {
  position: absolute;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  left: 0;
  bottom: 35px;
  height: 50px;
}

.mailing__form-wrapper {
  position: relative;
  padding-right: 141px;
}

.mailing__form input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  color: #353535;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.mailing__form label {
  position: absolute;
  top: -5px;
  left: 0;
  display: none;
  padding-left: 15px;
  font-size: 11px;
  line-height: 24.3px;
  color: #9a9a9a;
}

.mailing__form input:hover {
  padding-left: 9px;
  border: 2px solid #d3d3d2;
}

.mailing__form input:focus {
  padding-left: 9px;
  outline: none;
  border: 2px solid #8fbdec;
}

.mailing__form input:focus + label{
  top: -20px;
  display: inline;
  color: #8fbdec;
}

.mailing-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  padding: 14px 21px;
  font-size: 17px;
  font-weight: 700;
}

.map {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 430px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map-wrapper {
  margin: 0 2.3%;
  padding-top: 66px;
  position: relative;
}

.map__info {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 301px;
  height: 305px;
  padding: 29px 25px;
  background-color: #fefefe;
  border-radius: 15px;
}

.map__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  color: #343434;
  font-size: 14px;
  line-height: 20px;
}

.map__important {
  color: #343434;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map__hours, .map__hours b {
  line-height: 22px;
}

.map__button {
  padding: 10px 0;
  padding-left: 30px;
  padding-right: 35px;
  color: #fefefe;
  font-size: 17px;
  line-height: 24.3px;
  font-weight: 700;
}

.page-footer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 17px;
}

.footer-social {
  width: 22.2%;
  float: left;
  margin: 0;
  margin-left: 2.3%;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-social__item {
  display: inline-block;
  margin-right: 12px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__btn {
  position: relative;
  display: block;
  border: 3px solid rgba(255,255,255,0.52);
  border-radius: 50%;
  z-index: 5;
}

.footer-social__icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  z-index: 1;
}

.footer-social__btn:hover {
  border-color: rgba(255,255,255,0.71);
}

.footer-social__btn:hover .footer-social__icon {
  opacity: 0.98;
}

.footer-social__btn:active {
  border-color: rgba(255,255,255,0.52);
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 1);
}

.footer-social__btn:active .footer-social__icon {
  opacity: 0.8;
}

.footer-supplier {
  max-width: 340px;
  margin: 0 auto;
}

.footer-supplier__column {
  box-sizing: border-box;
  max-width: 170px;
}

.footer-supplier__column--left {
  float: left;
  padding-left: 19px;
}

.footer-supplier__column--right {
  float: right;
  margin-right: -5px;
}

.footer-supplier__column > a {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.footer-supplier__column > a:hover,
.footer-supplier__column > a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer-supplier__column .footer-supplier__for-supps {
  position: relative;
  font-weight: 700;
}

.icon-heart {
  position: absolute;
  display: inline-block;
  left: -22px;
  width: 15px;
  height: 13px;
  fill: #f7f8f8;
}

.footer-supplier__for-supps:hover .icon-heart,
.footer-supplier__for-supps:active .icon-heart {
  fill: #ffbc9e;
}

.footer-copyright {
  width: 189px;
  float: right;
  margin-right: 2.3%;
}

.footer-copyright__info {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright__ref {
  color: #fefefe;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.footer-copyright__ref:hover,
.footer-copyright__ref:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}
